@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    min-width: 600px;
}
.mainheader{
    height: 100%;
    background-color: #333;
}

.bgimage{
    background-image: url(/img/headerbg.png);
    background-position: center;
    background-size: contain;
    margin: 0;
    padding: 0;
    height: 450px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 100px;
}

.headercontent{
 margin: 0;
 color: rgb(235, 235, 235);
 text-align: center;
 text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
}

.headercontent button{
    background-color: rgb(49, 49, 49);
    border-color: white;
    border-radius: 0;
    padding: 15px 25px 15px 25px;
    color: white;
    border: 1px solid grey;
   }

.mainheader h1{
    margin: 0;
    padding: 0;
    font-size: 48px;
}

.mainheader p{
    text-align: center;
    width: 50%;
    margin-left: 25%;
    font-size: 26px;
}


.firstdesc{

}

.firstdesc h2{
    text-align: center;
    color: rgb(65, 65, 65);
}