body{
    margin: 0;
    padding: 0;
    min-width: 600px;
}


.bgimage{
    background-image: url(headerbg.jpg);
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.8;
}

.headercontent{
 margin: 0;
}

.mainheader h1{
    margin: 0;
    padding: 0;
}